Package: qboros-electric-qbo-listen
Source: qboros-electric-qbo-listen
Version: 1.0-openqbo0
Section: OpenQbo
Priority: standard
Depends: julius (=4.1.5.1), libjulius-dev (=4.1.5.1), ros-electric-ros
Architecture: amd64
Maintainer: Sergio Merino <s.merino@openqbo.org>
Homepage: http://openqbo.org/wiki/doku.php?id=qbo_apps:ros_pack:qbo_listen
Description: This package is a ros adapter for julius software
 This package will publish in topics all the listen sentences.
